<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<a href="{{restaurant.google_map}}"><img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}" style="max-width: 600px; max-height: 300px;"></a>
<div class="container bg-info text-dark">
  <form action="/restaurants/{{restaurant._id}}/edit" method="POST">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="name">Restaurant Name </label>
        <input type="text" name="name" placeholder="輸入餐廳名稱" class="form-control" value="{{ restaurant.name }}">
      </div>
      <div class="form-group col-md-6">
        <label for="category">Category </label>
        <select id="category" class="form-control" name="category" >
          <option>{{ restaurant.category }}</option>  
          <option>泰式料理</option>
          <option>中東料理</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>中式餐廳</option>
          <option>美式餐廳</option>
          <option>吃到飽</option>
          <option>早午餐</option>
          <option>其他</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="name">Restaurant Address</label>
        <input type="text" name="location" placeholder="輸入餐廳地址" class="form-control" value="{{ restaurant.location }}">
      </div>
      <div class="form-group col-md-6">
        <label for="name">Restaurant Phone</label>
        <input type="text" name="phone" placeholder="輸入餐廳電話" class="form-control" value="{{ restaurant.location }}">
      </div>
      <div class="form-group col-md-12">
        <label for="name">Restaurant Image</label>
        <input type="text" name="image" placeholder="輸入餐廳照片(限定.jpg or .png)" class="form-control" value="{{ restaurant.image }}">
      </div>
      <div class="form-group col-md-12">
        <label for="name">Restaurant Google Map</label>
        <input type="text" name="google_map" placeholder="輸入餐廳 Google Map 網址" class="form-control"value="{{ restaurant.google_map }}">
      </div>
      <div class="form-group col-md-12">
        <label for="name">Restaurant Description</label>
        <input type="text" name="description" placeholder="輸入餐廳故事或餐點特色" class="form-control"value="{{ restaurant.description }}">
      </div>
      <div class="form-group col-md-10 justify-content-start" style="margin-top: 10px;">
        <button type="submit" class="btn btn-warning">編輯完成</button>
        <a href="/">
          <button type="button" class="btn btn-warning ml-3">回首頁</button>
        </a>
      </div>
    </div>
  </form>
</div>